@use "../../utils/utils";

.filter-box {
  background-color: utils.$contrast-fade-color;
  width: 16vw;
  min-height: 20vh;

  margin-right: 3vw;
  padding: 25px;
  color: utils.$text-color;
  display: inline-block;
  border-radius: 5px;

  h2 {
    padding: 0;
    margin-top: 10px;
    text-align: center;

    @include utils.jetbrains-mono-font(700);
    font-size: 2em;
  }

  hr {
    background-color: utils.$secondary-color;
    border: none;
    border-radius: 1px;
    height: 2.5px;
    margin-bottom: 25px;
  }

  h3 {
    @include utils.inter-font;
    margin-bottom: 5px;
  }

  select {
    outline: none;
    border: none;
    background-color: utils.$text-color;

    @include utils.archivo-font;
    color: utils.$contrast-fade-color;
    font-size: 1.2em;
    padding: 5px;

    width: 100%;

    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }
}
