@use "../../utils/utils";

.spec-section {
  background-color: utils.$soft-light-color;
  width: 100%;
  padding: 10%;
  padding-top: 5%;
  box-sizing: border-box;

  h2 {
    @include utils.inter-font(500);
    font-size: 2em;
  }

  .table-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  table {
    @include utils.archivo-font;
    padding-top: 5vh;
    width: 70%;
    border-spacing: 3vw 1vw;

    tr {
      padding: 10px;

      td {
        border-bottom: 2px solid utils.$secondary-dark-color;
        padding: 20px;
        color: utils.$contrast-fade-color;
        font-weight: 500;
        font-size: 1.1em;

        span {
          @include utils.montserrat-font;
          display: block;
          font-size: 1.2em;
          font-weight: 600;
          padding-bottom: 15px;
          color: utils.$contrast-color;
        }
      }
    }
  }
}
