@use "../../utils/utils.scss";

.pre-car-text {
  h3 {
    @include utils.inter-font(600);
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .spec-lines {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  p {
    @include utils.archivo-font(500);
    font-size: 1.1em;
    display: block;
    margin-bottom: 0;
    color: utils.$contrast-fade-color;
    font-size: 1.2em;

    span {
      color: utils.$contrast-color;
      margin-left: 5px;
      font-size: 1.05em;
    }
  }

  .price {
    display: block;
    width: 100%;
    color: utils.$contrast-fade-color;
    @include utils.poppins-font(500);
    font-size: 1.3em;
    margin-top: 25px;

    span {
      @include utils.poppins-font(600);
      font-size: 1.3rem;
      float: right;
      color: utils.$contrast-color;
    }
  }
}
