@use "../../utils/utils.scss";

.pre-car-card {
  background-color: utils.$text-color;
  color: utils.$contrast-color;
  box-shadow: 0 0 25px utils.$secondary-dark-color;

  overflow: hidden;
  transition:
    all 0.4s ease,
    transform 0.3s ease-in-out;
  cursor: pointer;

  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vw;
  max-width: 30vw;

  .car-picture {
    width: 30vw;
    height: 25vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text-section {
    padding: 20px;
    padding-top: 0;
    height: 180px;
  }
}

.pre-car-card:hover {
  transform: scaleX(105%) scaleY(105%);
  box-shadow: 0 0 25px utils.$inconspicuous-color;
}

.pre-car-text {
  h3 {
    @include utils.inter-font(600);
    font-size: 1.6em;
    margin-bottom: 5px;

    span {
      @include utils.poppins-font(600);
      display: block;
      font-size: 0.8em;
      margin: 0;
      float: right;

      color: utils.$contrast-fade-color;
    }
  }

  hr {
    background-color: utils.$inconspicuous-color;
    border: 1px solid utils.$inconspicuous-color;
  }

  .spec-lines {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  p {
    @include utils.archivo-font(500);
    font-size: 1.1em;
    display: block;
    margin-bottom: 0;
    color: utils.$contrast-fade-color;
    font-size: 1.2em;

    span {
      color: utils.$contrast-color;
      margin-left: 5px;
      font-size: 1.05em;
    }
  }

  .price {
    display: block;
    width: 100%;
    color: utils.$contrast-fade-color;
    @include utils.poppins-font(500);
    font-size: 1.3em;
    margin-top: 25px;

    span {
      @include utils.poppins-font(600);
      font-size: 1.3rem;
      float: right;
      color: utils.$contrast-color;
    }
  }
}

.top-pick {
  @include utils.jetbrains-mono-font(500);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: utils.$primary-color-alternative_bright;

  position: relative;
  top: 10px;
  left: 15px;
  width: min-content;
  float: left;

  z-index: 600;
  text-align: center;
}
