@use "../utils/utils";

.vehicles-container {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;

  .main-pane {
    min-height: 90vh;
    width: inherit;
    background-color: utils.$h1-shadow;

    padding: 3vw;
    padding-bottom: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .content-box {
      width: 100%;
      padding-left: 1vw;
      display: flex;

      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        text-decoration: none;
      }
    }
  }

  .page-line {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 10vh;

    .page-number {
      @include utils.roboto-mono-font(600);
      font-size: 1.4em;
      color: utils.$contrast-color;
      text-shadow: 0 0 5px utils.$secondary-color;
      text-decoration: none;

      cursor: pointer;
      padding: 10px;
    }

    .page-number-highlighted {
      color: utils.$primary-color-alternative !important;
      text-decoration: underline;
    }

    svg {
      padding-left: 20px;
      padding-right: 20px;

      text-shadow: 0 0 5px utils.$secondary-color;

      width: 30px;
      height: 30px;

      cursor: pointer;
    }

    .left-arrow {
      transform: rotateZ(180deg);
    }
  }

  .loading-text {
    @include utils.inter-font;
    font-size: 2em;

    color: utils.$contrast-fade-color;
    text-align: center;
    width: 100%;
  }

  .new-cars-filters {
    .color-section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .color {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid utils.$contrast-fade-color;
        outline: 2px solid utils.$inconspicuous-color;
        transition: 0.3s all ease;

        cursor: pointer;
        margin: 7px;
      }

      .color:hover {
        outline: 2px solid utils.$secondary-color;
      }

      .color-highlight {
        outline: 2px solid utils.$secondary-color !important;
      }
    }

    .color-name {
      text-decoration: underline;
      text-decoration-color: utils.$primary-color-alternative;

      margin-left: 5px;
    }

    .price-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        @include utils.archivo-font;
        color: utils.$contrast-color;
        font-size: 1.15em;
        padding: 5px;

        border: none;
        outline: none;
        width: 40%;
      }

      input:placeholder-shown {
        color: utils.$contrast-fade-color;
      }
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
