@use "../utils/utils";

.vehicles-container {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;

  .main-pane {
    min-height: 90vh;
    width: inherit;
    background-color: utils.$h1-shadow;

    padding: 3vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .content-box {
      width: 100%;
      padding-left: 1vw;
      display: flex;

      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .loading-text {
    @include utils.inter-font;
    font-size: 2em;

    color: utils.$contrast-fade-color;
    text-align: center;
    width: 100%;
  }
}
