@use "../../utils/utils";

.side-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 80%;

  background-color: utils.$contrast-fade-color;

  h1 {
    @include utils.goldman-font;
    font-size: 2.2em;
    color: utils.$primary-color-alternative;
    text-align: center;
  }

  hr {
    background-color: utils.$secondary-color;
    border: none;
    border-radius: 1px;
    height: 1.5px;

    width: 90%;
    margin-bottom: 10%;
  }

  .links-container {
    * {
      display: block;
      width: 100%;
    }

    a {
      @include utils.montserrat-font;
      font-size: 1.3em;
      color: utils.$text-color;
      transition: 0.3s all ease;
      text-decoration: none;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      svg,
      div {
        width: auto;
      }

      svg {
        margin-right: 15px;
        width: 1.3em;
        height: 1.3em;
      }
    }

    a:hover,
    button:hover {
      background-color: #161616;
    }

    button {
      @include utils.montserrat-font;
      font-size: 1.3em;
      color: utils.$text-color;

      transition: 0.3s all ease;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      position: absolute;
      bottom: 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      div {
        width: auto;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .admin-highlight {
      color: utils.$primary-color-alternative !important;
    }
  }

  .links-container > * {
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.content-body {
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 0;
  right: 0;

  background-color: utils.$secondary-dark-color;
  overflow-y: scroll;
}
