@use "../../utils/utils";

header {
  background-color: utils.$contrast-color;

  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  padding: 0px;
  padding-left: utils.$general-side-padding;
  padding-right: utils.$general-side-padding;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  outline: 3px solid utils.$primary-color-alternative;

  a {
    text-decoration: none;
  }

  svg {
    width: 3em;
    height: 3em;
    margin-right: 25px;

    border-radius: 5px;
  }

  .icon-svg {
    transition: background-image 1s ease-in-out;

    .svg-sky {
      fill: transparent;
    }
  }

  h1 {
    @include utils.goldman-font;
    font-size: 2.2em;
    color: utils.$primary-color;
    //text-shadow: rgba(240, 110, 0, 0.5) 0 0 1px;
    text-shadow: utils.$h1-shadow 0 0 1px;

    transition: all 0.3s ease-in-out;
  }

  h1:hover {
    //text-shadow: 0 0 15px rgba(240, 110, 0, 0.5);
    text-shadow: 0 0 15px utils.$h1-shadow;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    color: utils.$text-color;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    a {
      display: block;

      @include utils.montserrat-font;
      text-wrap: nowrap;
      font-size: 1.3em;
      color: inherit;

      transition: 0.3s all ease-in-out;
    }

    a:hover {
      color: utils.$secondary-dark-color;
    }

    svg {
      width: 2em;
      height: 2em;
      margin-left: 0;
      margin-right: 0;
    }

    * {
      margin: 0;
      margin-left: 20px;
      margin-right: 20px;
    }

    .account-window {
      position: absolute;
      right: 0;
      top: 9vh;
      width: 25vh;
      height: 10vh;
      z-index: 5000;

      background-color: utils.$contrast-fade-color;
      border-radius: 15px;
      transform: translateX(10%);
      border: 3px solid utils.$primary-color-alternative;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      overflow: visible;
      transition: 0.3s opacity ease-out;

      h4 {
        @include utils.montserrat-font;
      }

      button {
        cursor: pointer;
        display: inline-block;
        outline: none;

        border: 3px solid utils.$soft-light-color;
        background-color: transparent;
        color: utils.$soft-light-color;

        @include utils.montserrat-font;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.2em;
        margin-right: 2vw;
        margin-left: 2vw;

        border-radius: 25px;
        transition: 0.3s all ease;
      }

      button:hover {
        background-color: utils.$text-color;
        border: 3px solid utils.$primary-color-alternative-bright;
        color: #333333;
      }
    }

    .account-window::after {
      content: "";
      position: absolute;
      top: 0;
      right: 18px;
      width: 0px;
      height: 0px;
      display: block;
      border: 25px solid transparent;
      border-bottom: 30px solid utils.$primary-color-alternative;
      transform: translateY(-100%);
      z-index: 5000;
    }

    .account-window.hidden {
      opacity: 0;
      top: -300%;
    }
  }

  .header-triangle {
    width: 0;
    height: 0;
    border: 270px solid transparent;
    border-bottom: 1500px solid #000; //utils.$primary-color-alternative;
    display: none;

    position: absolute;
    bottom: 0;
    left: 32%;
    transform: translateX(-50%);

    z-index: 0;
  }

  .highlight {
    transition: none;
    color: utils.$primary-color-alternative !important;
  }
  .highlight:hover {
    color: utils.$primary-color-alternative !important;
  }
}

.header-rigid-box {
  width: 100%;
  height: 10vh;
}
