$primary-color: #fff; //#f06e00;
$contrast-color: #000000;
$secondary-color: #dadddc;
$contrast-fade-color: #1e1e1e;
$secondary-dark-color: #adadad;
$primary-color-alternative: #d26100;
$primary-color-alternative-bright: #f06e00;
$inconspicuous-color: #757575;
$text-color: #fff;
$error-color: rgb(206, 14, 0);
$h1-shadow: rgba(255, 255, 255, 0.6); //rgba(240, 110, 0, 0.5);
$admin-spare-color: #173a50;
$apply-color: rgb(16, 172, 16); //#10ac10
$soft-light-color: #faf9f6;

$general-side-padding: 50px;

@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap"); // Goldman font

@mixin goldman-font($weight: 700) {
  font-family: "Goldman", sans-serif;
  font-weight: $weight;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin montserrat-font($weight: 400) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin archivo-font($weight: 400) {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@mixin inter-font($weight: 400) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin poppins-font($weight: 400) {
  font-family: "Poppins", sans-serif;
  font-weight: $weight;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@mixin roboto-slab-font($weight: 400) {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@mixin roboto-mono-font($weight: 400) {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@mixin jetbrains-mono-font($weight: 400) {
  font-family: "JetBrains Mono", monospace;
  font-weight: $weight;
}

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

@mixin teko-font($weight: 400) {
  font-family: "Teko", sans-serif;
  font-weight: $weight;
}
