@use "../../utils/utils.scss";

.model-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  h3 {
    @include utils.inter-font(600);
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  h4 {
    @include utils.poppins-font(600);
    color: utils.$contrast-color;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 20px;

    span {
      color: utils.$contrast-fade-color;
    }
  }

  .price-container {
    width: 100%;
    color: utils.$contrast-fade-color;
    @include utils.poppins-font;
    font-size: 1.3em;

    .price {
      @include utils.poppins-font(600);
      font-size: 1.3rem;
      float: right;
      color: utils.$contrast-color;
    }
  }
}

.trending-now {
  @include utils.teko-font;
  font-size: 1.5em;

  position: absolute;
  right: 15px;
  top: 10px;
  display: block;

  text-transform: uppercase;
}
